<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worknote.auth.totp.TotpMapper">
  <insert id="insert">
    INSERT INTO user_totp (user_id, secret_enc, enabled, confirmed_at, last_step, created_at)
    VALUES (#{userId}, #{secretEnc}, #{enabled}, #{confirmedAt}, #{lastStep}, #{createdAt})
  </insert>
  <select id="find" resultType="com.worknote.auth.totp.TotpRow">
    SELECT * FROM user_totp WHERE user_id = #{userId}
  </select>
  <update id="enable">
    UPDATE user_totp SET enabled = 1, confirmed_at = #{at} WHERE user_id = #{userId}
  </update>
  <update id="updateLastStep">
    UPDATE user_totp SET last_step = #{step} WHERE user_id = #{userId}
  </update>
  <delete id="delete">
    DELETE FROM user_totp WHERE user_id = #{userId}
  </delete>

  <insert id="insertRecovery">
    INSERT INTO totp_recovery (id, user_id, salt, code_hash, expires_at, used, created_at)
    VALUES (#{id}, #{userId}, #{salt}, #{codeHash}, #{expiresAt}, #{used}, #{createdAt})
  </insert>
  <select id="findLatestRecovery" resultType="com.worknote.auth.totp.RecoveryRow">
    SELECT * FROM totp_recovery WHERE user_id = #{userId} ORDER BY created_at DESC LIMIT 1
  </select>
  <update id="markRecoveryUsed">
    UPDATE totp_recovery SET used = 1 WHERE id = #{id}
  </update>
  <update id="invalidateRecovery">
    UPDATE totp_recovery SET used = 1 WHERE user_id = #{userId} AND used = 0
  </update>
</mapper>
